<% include partials/header %>


<div class="container">
  <h1 class="front-page-header">Link Shortener</h1>
  <p class="front-page-subhead"> Enter your URL below:</p>
    <form class="form" action="/links" method="post">
        <div class="form-group">
            <input type="text" name="url" placeholder="Your URL">
        </div>
            <button type="search" values="Search" class="btn btn-info" id="front-page-button">
            Shorten It!</button>
    </form>
</div>














<% include partials/footer %>