<% include ../partials/header %>


<div class="container">
<div class="jumbotron">
  <div class="centering">
  <h2 id="short-link">Your Link is: <a href="<%=hash%>"><%=hash%></a></h2>
  </div>
</div>
</div>

<% include ../partials/footer %>